doctype html
html
  head
  body
    div.app(data-o-save-deep="defaultSave" data-o-type="object")
    h1 Notes
    button(data-i-new="note .notes") New
    div.notes(data-o-key="notes" data-o-type="list")
      each note in data.notes
        include note
    br
    script(src="client.js")