html
  head
  body
    div.app(data-o-save-deep="all" data-o-type="object")
    h1 Notes
    div.todos(data-o-key='notes' data-o-type='list')
      each note in data.notes
        include note
    button(data-i-new='note') New
    br
    script(src='index.js')

